{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>login_signin</title>
    {% include 'shared/header_references.html' %}
</head>
<body>
{#{% render_partial 'products.views.site_header_component' %}#}
<div class="container">
		<section id="form"><!--form-->
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>ورود به حساب کاربـری :</h2>
						<form method="post" action="{% url 'login' %}">
                            {% csrf_token %}

                            {% if error_log %}
                            	<div class="col-md-6 pull-right alert-warning alert-danger" style="color: red">
                                    {{ error_log }}
                                </div>
                            {% endif %}

                            <div class="form-group col-md-12">
                                {{ loginForm.username }}
                            </div>
                            <div class="form-group col-md-12">
                                {{ loginForm.password }}
                            </div>

							<span>
								<input type="checkbox" class="checkbox">
								مرا بخاطـر بسپـار
							</span>
							<span>
								<a href="forget-password.html">رمـز عبـور خود را فراموش کرده ام</a>
							</span>
							<button type="submit" class="btn btn-default">ورود</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">یا</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>ثبت نام کاربـر جدیـد</h2>
						<form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% if error %}
                            	<div class="col-md-6 pull-right alert-warning alert-danger" style="color: red">
                                    {{ error }}
                                </div>
                            {% endif %}

							<div class="form-group col-md-12">
                                {{ SigninForm.username }}
                                {{ SigninForm.username.error_messages }}
                            </div>

                            <div class="form-group col-md-12">
                                {{ SigninForm.email }}
                                {{ SigninForm.email.error_messages }}
                            </div>

                            <div class="form-group col-md-12">
                                {{ SigninForm.phone_number }}
                                {{ SigninForm.phone_number.error_messages }}
                            </div>

                            <div class="form-group col-md-12">
                                {{ SigninForm.password }}
                            </div>

							<button type="submit" class="btn btn-default">ثبت نام</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</section>
	</div>
{% render_partial 'products.views.site_footer_component' %}
{% include 'shared/footer_references.html' %}
</body>
</html>
